<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="public\css\style.css">
  <script src="public\java.js"></script>
  <title>Course Management</title>
</head>
<header>
  <button class="menu-btn open" id="open-menu"  aria-label="Open Menu">
    <span class="menu-icon">
        <span class="bars"></span>
        <span class="bars"></span>
        <span class="bars"></span>
    </span>
</button>
<nav id="nav-menu">
    <button class="menu-btn close" id="close-menu">
        <span>X</span>
    </button>
    
    <ul>
        
        <li><a href="/"> COURSES</a></li>
        <li><a href="/add"> ADD COURSE</a></li>
        <li><a href="/about"> ABOUT </a></li>
    </ul>
</nav>
</header>
<body>
  <h1>Courses</h1>
  <ul>
    <% courses.forEach(course => { %>
      <li><%= course.coursename %> - <%= course.coursecode %> - <%= course.progression %> -<%= course.syllabus %> - <a href="/#/<%= course.id %>">Delete</a></li>
    <% }); %>
  </ul>
  <a href="/add">Add Course</a>
</body>
</html>
